.container {
    width: max-content;
    max-width: 35em;
    margin: 0.5em;
    margin-top: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 0.5em));

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.displayColumnContainer {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.letterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border: 0.2em solid white;
    border-radius: 0.5em;

    span {
        font-family: 'Roboto', sans-serif;
        font-size: 2.5em;
    }
}

.enableShake {
    animation: shake 0.125s infinite;
}

@keyframes shake {
    0%,
    50%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

@keyframes letterPop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
